.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.Page {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-x: hidden;
}

.zh {
 z-index: 100;
}

.w90 {
  width: 90vw;
}

.carousel-item-mwh {
  max-width: 90vw;
  max-height: 75vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* button */
::-webkit-scrollbar-button {
  background: #181a1f; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18aeff; 
  border-radius: 25px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #186dff; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #181a1f; 
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
  background: #000; 
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999; 
}

/* Resizer */
::-webkit-resizer {
  background: #111; 
}